@font-face {
  font-family: Alegreya;
  src: url("assets/fonts/Alegreya-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Alegreya;
  src: url("assets/fonts/Alegreya-Regular.ttf");
  font-weight: 400;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya', serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}

footer {
  padding: 0 20px 0 20px;
  background-color: #829985;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
}

.nav-item a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-item a:hover {
  color: #4d2323;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  padding: 3px;
}
.avatar-center {
  display: flex;
  justify-content: center;
}

.hr {
  width: 70%;
}

.section {
  width: 50%;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}

.link {
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.profile-text {
  text-align: center;
  text-transform: uppercase;
}

.icon-contacts {
  width: 20px;
  height: 20px;
}

.link:hover {
  color: #5d7260;
}

.list {
  padding: 0;
  list-style: none;
}

.list-contact {
  padding: 0 0 0 5px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: white;
  padding: 0;
}

.footer-link {
  font-size: 20px;
  text-transform: uppercase;
}